* {
  margin: 0;
  padding: 0;
}
body,
html {
  margin: 0 auto;
  color: #444444;
  width: 1200px;
  font-size: 62.5%; /* font size 10px an 1 rem */
}
h1 {
  font-size: 2rem;
  text-align: center;
}
p {
  font-size: 1rem;
}
.header_area,
.header {
  width: 100%;
}

@media screen and (max-width: 426px) {
  p {
    font-size: 0.8rem;
  }
}
.box {
  color: #b71535;
}
